.header {
  height: 10vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.propietario {
  color: aqua;
}

.main {
  height: 75vh;
  padding: 30px;
  overflow: scroll;
}

.main .ul {
  list-style: none;
}

.footer {
  height: 15vh;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 30px;
  background-color: lightblue;
}

.footer .control {
  width: 33%;
}

.footer .control:last-child {
  display: flex;
  flex-direction: column;
  justify-content: end;
}